#loading {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #ece9e9;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}